{% load static %}

<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js'></script>
	<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css'>
	<link rel='stylesheet' type='text/css' href='{% static "css/creating_shifts" %}'>
	<link media='print' rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.print.css'>
	<script type="text/javascript" src="{% static 'js/create_shift.js' %}"></script>
</head>	
<body>
	{% if creating_shifts %}
	<h2>It's <span id='first'>{{starting_user.first_name}}</span> <span id='last'>{{starting_user.last_name}}</span>'s turn.</h2>
		<form action='.' method="POST">
				{% csrf_token %}
				{{shift_form.as_p}}
				<input type='submit' name='create_shift'>
		</form>
		<div id='calendar'></div>
	{% else %}
		<h2>
			Shift creation currently isn't in progress. Please come back at another time.
		</h2>
	{% endif %}
</body>
</html>