{% load static %}
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Upload Excel Sheet</title>
	<meta name="author" content="Christian Brintnall">
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/shift_upload.css' %}" />
	<script src="{% static 'js/upload.js' %}"></script>
	<script>
		var sendFile = false;

		/* 
			The fact that this works disgusts me.

			First time running it, it enables the modal.
			Once the user clicks approve that flips sendFile to true.
			ON an approval, a fake click is sent to the form, causing
			this to run again and return true since the global is true.
		*/
		function confirmFile() {
			if (sendFile)
				return sendFile;

			$('.ui.modal')
				.modal({
					closable: false,
					onDeny: function() {
					},	
					onApprove: function() {
						sendFile = true;
						$(this).modal('hide');
						$('#upload form input[type=submit]').click();
					}
				})
				.modal('show');

			return false;
		}
	</script>
	<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/upload_excel.css' %}" />
</head>

<body>
	<div class="ui modal">
  		<div class="header">Confirm</div>
  		<div class='content'>
  			<h3> Are you <em>sure</em> you want to do this? </h3>
  			<h4> Doing this removes all the currently uploaded shifts and rescrapes what you upload. </h4>
  		</div>
  		<div class="actions">
		    <div class="ui green approve button">Delete and Upload</div>
			<div class="ui red cancel button">Cancel</div>
	    </div>
	</div>
	<div id='holder'>
		<div id='downloads'>
			{% for sheet in sheets %}
				<div class="ui card">
				  <div class="content">
				    <div class="header">{{ sheet.created_at }}</div>
				    <p> Uploaded by: {{ sheet.user.username }} </p>
				  </div>
				  <div class="extra content">
				    <a href="{{ sheet.sheet.url }}" download><button class="ui button">Download</button></a>
				    {% if request.user.is_superuser %}
				    	<a href="/shifts/remove/{{ sheet.pk }}/" ><button class="ui inverted red button">Delete</button></a>
				    {% endif %}
				  </div>
				</div>
			{% endfor %}
		</div>
		<div id='upload'>
			<form action='.' method='POST' enctype="multipart/form-data" onsubmit="return confirmFile();">
		    	{% csrf_token %}
		        {{ form.as_p }}
		        <input type="submit" value="Upload" />
	    	</form>
		</div>
	</div>
</body>
</html>
