{% load static %}

<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js'></script>
	<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css'>
	<link media='print' rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.print.css '>
	<link rel='stylesheet' type='text/css' href='{% static "css/creating_shifts.css" %}'>
	<script type="text/javascript" src="{% static 'js/create_shift.js' %}"></script>
	<script>
		var currentUserUsername = "{{current_user.user.username}}";
		var currentUserFullName = "{{current_user.user.first_name}} {{current_user.user.last_name}}";
	</script>
</head>	
<body>
	<div id='user-column'>
		<ul>
			{% for place in order %}
				<li id='{{place.user.username}}'>
					{{place.user.first_name}} {{place.user.last_name}} -- {{place.user.username}}
				</li>
			{% endfor %}
		</ul>
	</div>
	<button onclick='deleteShifts();'>Delete all shifts</button>
	<div id='calendar'>
	</div>
	<div id='modal-background'>
	</div>
	<div id='modal'>
		<div id='modal-body'>
			<button id='modal-delete' onclick='handleModalDelete();'>Delete</button>
			<button id='modal-close' onclick='switchModal();'>Close</button>
		</div>
	</div>
	<span id='csrf_token'>{% csrf_token %}</span>
</body>
</html>