{% extends 'base.html' %}
{% load static %}

{% block title %}
Shift Upload
{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/shift_upload.css' %}" />
<script src="{% static 'js/upload.js' %}"></script>
<script>
	var sendFile = false;

	function confirmFile() {
		if (sendFile)
			return sendFile;

		$('.ui.modal')
			.modal({
				closable: false,
				onDeny: function() {
				},	
				onApprove: function() {
					sendFile = true;
					$(this).modal('hide');
					$('#upload form input[type=submit]').click();
				}
			})
			.modal('show');

		return false;
	}

</script>
{% endblock%}

{% block content %}
<div class="ui modal">
		<div class="header">Confirm</div>
			<div class='content'>
  			<h3> Are you <em>sure</em> you want to do this? </h3>
  			<p> Doing this removes all the currently uploaded shifts and rescrapes what you upload. </p>
  			<p> You will be able to still download the old sheet, but this data may be relied on. </p>
			</div>
		<div class="actions">
	    <div class="ui green approve button">
	    	Delete and Upload
	    </div>
		<div class="ui red cancel button">
			Cancel
		</div>
    </div>
</div>
<div class='centered row'>
	<div class='center aligned column' style='width: 35%;'>
		<div class='ui attached message' style='margin-top: 32px;'>
			<a href='/shifts/claim/'><button class='ui blue button'>Claim Shifts</button></a>
			<p> You have <span style='blue'>{{ count }}</span> shifts </p>
		</div>
		<div class='ui attached compact segment'>
			<form action='.' method='POST' enctype="multipart/form-data" onsubmit="return confirmFile();" class='ui form'>
		    	{% csrf_token %}
		        {{ form.as_p }}
        		<input type="submit" value="Upload" class='ui positive fluid button'/>
			</form>
		</div>
		<table class='ui five column attached striped celled table'>
			<thead>
				<tr>
					<th> Start Date </th>
					<th> End Date </th>
					<th> Uploader </th>
					<th> Upload Date </th>
					<th> Download </th>
					{% if request.user.is_superuser %}
						<th> 
						    Delete
						</th>
			    	{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for sheet in sheets %}
					<tr>
						<td> {{ sheet.first_date }} </td>
						<td> {{ sheet.last_date }} </td>
						<td> {{ sheet.user.username }} -> {{ sheet.user.first_name }} {{ sheet.user.last_name }} </td>
						<td> {{ sheet.created_at }} </td>
						<td> 
						    <a href="{{ sheet.sheet.url }}" download><button class="ui fluid blue button">Download</button></a>
						</td>
						{% if request.user.is_superuser %}
							<td> 
							    <a href="/shifts/remove/{{ sheet.pk }}/" ><button class="ui inverted red button">Delete</button></a>
							</td>
				    	{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}